<!doctype html>
<head>
  <meta charset=utf-8>
  <meta name=viewport content=width=device-width>
  <title>{{name}} :: samhuri.net</title>
  <link rel=icon type=image/gif href=../../assets/s.gif>
  <link rel=stylesheet href=../../assets/proj-all.min.css>
  <link rel=stylesheet media=screen href=../../assets/mobile.min.css>
</head>
<nav id=breadcrumbs><a href=../../>samhuri.net</a> &rarr; <a href=../>projects</a></nav>
<a href=https://github.com/samsonjs/{{name}}><img id=forkme src=../../assets/forkme.png alt="Fork me on GitHub"></a>
<h1>{{name}}</h1>
<h2>{{description}}</h2>
<table align=center>
  <tr>
    <td align=right><span id=nwatchers><img src=../../assets/spinner.gif></span> watcher<span id=wplural>s</span></td>
    <td>&mdash;</td>
    <td align=left><span id=nforks><img src=../../assets/spinner.gif></span> fork<span id=fplural>s</span></td>
  </tr>
</table>
<div id=info>
  <div>
    <h4>branches</h4>
    <span id=branches><img src=../../assets/spinner.gif></span>
  </div>
  <div>
    <h4>languages</h4>
    <span id=langs><img src=../../assets/spinner.gif></span>
  </div>
  <div id=contributors-box>
    <h4>contributors</h4>
    <span id=contributors><img src=../../assets/spinner.gif></span>
  </div>
  <br class=clear>
</div>
<footer>
  <p><a href=https://twitter.com/_sjs>@_sjs</a></p>
  <p><a href="mailto:sami.samhuri@gmail.com">sami.samhuri@gmail.com</a></p>
</footer>
<script>
var _gaq = _gaq || [];
_gaq.push( ['_setAccount', 'UA-214054-5']
         , ['_trackPageview']
         , ['_trackPageLoadTime']
         );
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<!--[if lt IE 8]>
<script src=http://d1eqzjbvoh1rux.cloudfront.net/json2.min.js></script>
<script src=../../assets/storage-polyfill.min.js></script>
<![endif]-->
<script src=http://ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js></script>
<script src=../../assets/proj-all.min.js></script>
<script>
  (function() {
    SJS.proj('{{name}}')

    if (document.addEventListener) {
      document.addEventListener('DOMContentLoaded', ready, false)
    } else if (window.attachEvent) {
      window.attachEvent('onload', ready)
    }
    function ready() {
      var bl = document.getElementById('browse-link')
      bl.onclick = function() {
        document.getElementById('browse').style.display = 'none'
        window.f = new Finder({ user_id: 'samsonjs', project: '{{name}}', id: 'gh-finder' })
        return false
      }
    }
  }())
</script>
