<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{name}} :: samhuri.net</title>
  <link rel="icon" type="image/gif" href="../../images/s.gif">
  <link rel="stylesheet" href="../../css/proj-all.min.css">
  <link rel="stylesheet" media="screen" href="../../css/mobile.min.css">
</head>
<nav id="breadcrumbs"><a href="../../">samhuri.net</a> &bull; <a href="../">projects</a></nav>
<a href="https://github.com/samsonjs/{{name}}"><img id="forkme" src="../../images/forkme@2x.png" width="140" height="140" alt="Fork me on GitHub"></a>
<h1>{{name}}</h1>
<h2>{{description}}</h2>
<table align="center">
  <tr>
    <td align="right"><span id="nwatchers"><img src="../../images/spinner@2x.gif" width="16" height="16"></span> watcher<span id="wplural">s</span></td>
    <td>&mdash;</td>
    <td align="left"><span id="nforks"><img src="../../images/spinner@2x.gif" width="16" height="16"></span> fork<span id="fplural">s</span></td>
  </tr>
</table>
<div id="info">
  <div>
    <h4>branches</h4>
    <span id="branches"><img src="../../images/spinner@2x.gif" width="16" height="16"></span>
  </div>
  <div>
    <h4>languages</h4>
    <span id="langs"><img src="../../images/spinner@2x.gif" width="16" height="16"></span>
  </div>
  <div id="contributors-box">
    <h4>contributors</h4>
    <span id="contributors"><img src="../../images/spinner@2x.gif" width="16" height="16"></span>
  </div>
  <br class="clear">
</div>
<footer>
  <p><a href="https://twitter.com/_sjs">@_sjs</a></p>
  <p><a href="mailto:sami.samhuri@gmail.com">sami.samhuri@gmail.com</a></p>
</footer>
<script>
var _gaq = _gaq || []
_gaq.push( ['_setAccount', 'UA-214054-5']
         , ['_trackPageview']
         , ['_trackPageLoadTime']
         )
;(function() {
  var ga = document.createElement('script')
  ga.type = 'text/javascript'
  ga.async = true
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'
  var s = document.getElementsByTagName('script')[0]
  s.parentNode.insertBefore(ga, s)
}())
</script>
<!--[if lt IE 8]>
<script src="http://d1eqzjbvoh1rux.cloudfront.net/json2.min.js"></script>
<script src="../../js/storage-polyfill.min.js"></script>
<![endif]-->
<script src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js"></script>
<script src="../../js/proj-all.min.js"></script>
<script>
SJS.proj('{{name}}')
</script>
