td { font-size: 1.5em
   ; line-height: 1.6em
   }

td:nth-child(2) { padding: 0 10px }

.highlight { font-size: 1.2em }

#stats a { text-decoration: none }

#info { text-align: center
      ; margin: 1em auto
      ; padding: 1em
      ; border: solid 1px #ccc
      ; width: 90%
      ; max-width: 950px
      ; background-color: #fff
      ; -moz-border-radius: 20px
      ; -webkit-border-radius: 20px
      ; border-radius: 20px
      }

h4 { margin: 0.5em 0 0.7em }

#info > div { text-align: center
            ; font-size: 1.3em
            ; width: 31%
            ; max-width: 400px
            ; float: left
            ; display: inline
            ; padding: 0.5em 0.2em
            ; border-left: dashed 1px #aaa
            }

#info > div:first-child { border-left: none }

#info ul { list-style-type: none
   ; text-align: center
   ; padding: 0
   ; margin: 0
   }

#info li { padding: 0.2em 0
   ; margin: 0
   }

#info > br.clear { clear: both }

#contributors-box a { line-height: 1.8em }

/* from projects/index, might not apply to projects/foo */
#gh { text-align: center }
#gh img { border: none }
span { padding: 5px }
#forkme { display: none }
#projects li p { margin: 0 }
#projects li p.description
{ font-size: 0.6em
; line-height: 1em
; color: #444
; margin-bottom: 0.5em
}
#stats a { text-decoration: none }
