AddType application/rss+xml rss
AddOutputFilterByType DEFLATE application/rss+xml text/css application/javascript text/html

# # Turn on Expires and set default expires to 3 days
# ExpiresActive On
# ExpiresDefault A259200
# 
# # Set up caching on media files for 1 month
# <FilesMatch "\.(ico|gif|jpg|jpeg|png|pdf|mov|mp3)$">
#   ExpiresDefault A2419200
#   Header append Cache-Control "public"
# </FilesMatch>
# 
# # Set up 2 week caching on commonly updated files
# <FilesMatch "\.(xml|txt|html|js|css|rss)$">
#   ExpiresDefault A1209600
#   Header append Cache-Control "private, must-revalidate"
# </FilesMatch>
