<!doctype html>
<html lang="en">

<head>
  <% if (typeof title != 'undefined') { %>
    <title><%= title %> - <%= site %></title>
  <% } else { %>
    <title><%= site %></title>
  <% } %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <link rel="icon" type="image/gif" href="/images/s.gif">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="alternate" type="application/rss+xml" href="http://samhuri.net/sjs.rss" title="samhuri.net">
</head>

<body>
  <header>
    <h1><a href="/">samhuri.net</a></h1>
  </header>

  <nav>
    <a href="/archive">posts</a>
    <a href="/projects">projects</a>
  </nav>

  <%- yield %>

  <footer>
    <p>You can <a href="https://twitter.com/_sjs">find me on twitter</a>.</p>
    <p><a href="mailto:sami@samhuri.net">sami@samhuri.net</a></p>
  </footer>

  <script>
    var _gaq = _gaq || []
    _gaq.push( ['_setAccount', 'UA-214054-5']
             , ['_trackPageview']
             )

    ;(function() {
      var ga = document.createElement('script')
      ga.type = 'text/javascript'
      ga.async = true
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'
      var s = document.getElementsByTagName('script')[0]
      s.parentNode.insertBefore(ga, s)
    }())
  </script>
</body>

</html>
