<ul id="index">
  <% for (var slug in public.posts._data) { %>
  <%   var post = public.posts._data[slug]; %>
    <li>
      <span class="date"><%= post.date %></span>
      <a href="<%= post.url %>"><%= post.title %></a>
    </li>
  <% } %>
</ul>
