<!doctype html>
<html>
<head>
<title>discussions - sjs's blog</title>
<link rel="stylesheet" href="/css/blog-all.min.css">
<style>
#comment-stuff { display: block }
</style>
</head>
<body>
<div id="comment-stuff">
  <form id="comment-form">
    <p><input name="post" type="text" placeholder="filename"></p>
    <p><input name="name" type="text" placeholder="name"></p>
    <p><input name="email" type="text" placeholder="email"></p>
    <p><input name="url" type="text" placeholder="url"></p>
    <p><input name="timestamp" type="text" placeholder="timestamp"></p>
    <p><textarea id="thoughts" name="body" placeholder="thoughts"></textarea></p>
    <p align="center"><input type="submit" value="so there"></p>
  </form>
</div>
<script type="text/html" id="comment_tmpl">
  <div class="comment">
    <p>
      <% if (url) { %>
        <a href="<%= url %>"><%= name %></a>
      <% } else { %>
        <%= name %>
      <% } %>
      @ <%= strftime('%F %I:%M %p', new Date(timestamp)) %>
    </p>
    <blockquote><%= html %></blockquote>
  </div>
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script src="../js/blog-all.min.js"></script>
</body>
</html>
