<!doctype html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

  {% if title %}
  <title>{{ site.title }}: {{ title }}</title>
  {% elif page.title %}
  <title>{{ site.title }}: {{ page.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif %}

{% for style in styles %}
  <link rel="stylesheet" href="{{ style }}">
{% endfor %}
</head>

<body>
  <header>
    <div class="title">
      <h1><a href="/">{{ site.title }}</a></h1>
      <br>
      <h4>By <a href="/about">{{ site.author }}</a></h4>
    </div>
  </header>

  {% block body %}{{ body }}{% endblock %}

  <footer class="container">
    &copy; 2006 - {{ currentYear }} <a href="/about">{{ site.author }}</a>
  </footer>

{% for script in scripts %}
  <script defer src="{{ script }}"></script>
{% endfor %}
</body>
</html>
