<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>archive :: sjs' blog</title>
  <meta name="keywords" content="{{keywords}}">
  <link rel="icon" type="image/gif" href="../images/s.gif">
  <link rel="stylesheet" href="../css/blog-all.min.css">
  <link rel="stylesheet" media="screen" href="../css/mobile.min.css">
  <link rel="alternate" type="application/rss+xml" href="http://samhuri.net/blog/sjs.rss" title="sjs' blog">
</head>
<body id="blog">
<nav id="breadcrumbs"><a href="../">samhuri.net</a></nav>
<header>
  <h1><a href="../blog">sjs' blog</a></h1>
</header>
<ul id="index">
  {{#posts}}
  <li><span class="date">{{date}}</span> <a href="{{relative_url}}">{{title}}</a></li>
  {{/posts}}
</ul>
<footer>
  <p>You can <a href="https://twitter.com/_sjs">find me on twitter</a>.</p>
  <p><a href="mailto:sami@samhuri.net">sami@samhuri.net</a></p>
</footer>
<script>
var _gaq = _gaq || []
_gaq.push( ['_setAccount', 'UA-214054-5']
         , ['_trackPageview']
         )

;(function() {
  var ga = document.createElement('script')
  ga.type = 'text/javascript'
  ga.async = true
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'
  var s = document.getElementsByTagName('script')[0]
  s.parentNode.insertBefore(ga, s)
}())
</script>
</body>
</html>
