<!doctype html>
<meta charset=utf-8>
<meta name=viewport content=width=device-width>
<title>blog :: samhuri.net</title>
<link rel=stylesheet href=../assets/blog.css>
<script>
var _gaq = _gaq || [];
_gaq.push( ['_setAccount', 'UA-214054-5']
         , ['_trackPageview']
         );

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<nav id=breadcrumbs><a href=../>samhuri.net</a></nav>
<header>
  <h1><a href=index.html>sjs' blog</a></h1>
</header>
{{#posts}}
<article>
  <header>
    <h1><a href={{filename}}>{{title}}</a></h1>
    <time>{{date}}</time>
  </header>
  {{{body}}}
</article>
{{/posts}}
<footer>
  <a href=https://twitter.com/_sjs>@_sjs</a>
</footer>
