<!doctype html>
<meta charset=utf-8>
<meta name=viewport content=width=device-width>
<title>sjs' blog</title>
<link rel=stylesheet href=../assets/blog.css>
<link rel=alternate type=application/rss+xml href=http://samhuri.net/blog/rss title="sjs' blog">
<script src=http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js></script>
<script>
var _gaq = _gaq || [];
_gaq.push( ['_setAccount', 'UA-214054-5']
         , ['_trackPageview']
         );

;(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

jQuery(function($) {
  var hidden = true
    , index = $('#index')
  $('#index-toggle').click(function() {
    index.toggle()
    hidden = !hidden
    $(this).html(hidden ? '&darr; show posts &darr;' : '&uarr; hide posts &uarr;')
  })
})
</script>
{{#comments}}
<script>
window.SJS = window.SJS || {}
SJS.filename = "{{filename}}"
</script>
<script src=../assets/blog-all.min.js></script>
{{/comments}}
<header>
  <h1><a href=index.html>sjs' blog</a></h1>
</header>
<nav id=breadcrumbs><a href=../>samhuri.net</a></nav>
<div class=center><a id=index-toggle href=#>&darr; show posts &darr;</a></div>
<nav id=index>
  <ul>
    {{#posts}}
    <li><a href={{filename}}>{{title}}</a> <span class=date>{{date}}</span></li>
    {{/posts}}
  </ul>
</nav>
<div id=posts>
  {{! TODO extract a post partial used here and in post.html }}
  <article>
    {{#post}}
    <header>
      <h1><a href={{filename}}>{{title}}</a></h1>
      <time>{{date}}</time>
    </header>
    {{{body}}}
    {{/post}}
  </article>
</div>
<p class=sep>&#x0f04;</p>
<div id=around>
  {{#previous}}
  <a id=prev href={{filename}}>&larr; {{title}}</a>
  {{/previous}}
  {{#next}}
  <a id=next href={{filename}}>{{title}} &rarr;</a>
  {{/next}}
  <br style=clear:both>
</div>
{{#comments}}
<p id=need-js align=center><strong>(discussion requires JavaScript)</strong></p>
<div class=center id=sd-container><a id=sd href=#comment-stuff>show the discussion</a></div>
<div id=comment-stuff>
  <div id=comments>
    <div id=comments-spinner><img src=../assets/spinner.gif></div>
  </div>
  <form id=comment-form>
    <input name=post type=hidden value={{filename}}>
    <p><input name=name type=text placeholder=name></p>
    <p><input name=email type=text placeholder=email></p>
    <p><input name=url type=text placeholder=url></p>
    <p><textarea name=body placeholder=thoughts></textarea></p>
    <p align=center><input type=submit value='so there'></p>
  </form>
</div>
<script type="text/html" id="comment_tmpl">
  <div class=comment>
    <p>
      <% if (url) { %>
        <a href="<%= url %>"><%= name %></a>
      <% } else { %>
        <%= name %>
      <% } %>
      @ <%= strftime('%F %r', new Date(timestamp)) %>
    </p>
    <blockquote><%= html %></blockquote>
  </div>
</script>
{{/comments}}
<footer>
  <a href=https://twitter.com/_sjs>@_sjs</a>
</footer>
