<!doctype html>
<meta charset=utf-8>
<meta name=viewport content=width=device-width>
<title>blog :: samhuri.net</title>
<link rel=stylesheet href=../assets/blog.css>
<script>
var _gaq = _gaq || [];
_gaq.push( ['_setAccount', 'UA-214054-5']
         , ['_trackPageview']
         );

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

if (document.addEventListener) {
  document.addEventListener('DOMContentLoaded', ready, false)
} else if (window.attachEvent) {
  window.attachEvent('onload', ready)
}
function ready() {
  var index = document.getElementById('index')
    , indexToggle = document.getElementById('index-toggle')
    , hidden = true
  indexToggle.onclick = function() {
    hidden = !hidden
    index.style.display = hidden ? 'none' : 'block'
    indexToggle.innerHTML = hidden ? '&darr; show posts &darr;' : '&uarr; hide posts &uarr;'
  }
}
</script>
<header>
  <h1><a href=index.html>sjs' blog</a></h1>
</header>
<nav id=breadcrumbs><a href=../>samhuri.net</a></nav>
<div class=center><a id=index-toggle href=#>&darr; show posts &darr;</a></div>
<nav id=index>
  <ul>
    {{#posts}}
    <li><a href={{filename}}>{{title}}</a> <span class=date>{{date}}</span></li>
    {{/posts}}
  </ul>
</nav>
<div id=posts>
  {{! TODO extract a post partial used here and in post.html }}
  {{#post}}
  <article>
    <header>
      <h1><a href={{filename}}>{{title}}</a></h1>
      <time>{{date}}</time>
    </header>
    {{{body}}}
  </article>
  {{/post}}
</div>
<div id=around>
  {{#previous}}
  <a id=prev href={{filename}}>&larr; {{title}}</a>
  {{/previous}}
  {{#next}}
  <a id=next href={{filename}}>{{title}} &rarr;</a>
  {{/next}}
  <br style=clear:both>
</div>
<footer>
  <a href=https://twitter.com/_sjs>@_sjs</a>
</footer>
