<article>
  <header>
    <h1><a href="{{link}}">&rarr; {{title}}</a></h1>
    <time>{{date}}</time>
  </header>
  {{{body}}}
</article>
<p><a href="{{url}}">&infin;</a></p>
<p class="sep">&#x0f04;</p>
