HANDLED  {% if post.link %} -%>
    <article class="container">
      <header>
        <h2><a href="<%= post.link %>">&rarr; <%= post.title %></a></h2>
        <time><%= post.date %></time>
        <a class="permalink" href="<%= post.url %>">&infin;</a>
      </header>
      <%- yield %>
    </article>
    <div class="row clearfix">
      <p class="fin clearfix"><i class="fa fa-code"></i></p>
    </div>
HANDLED  <% } else if (typeof date != 'undefined' && date !== null) { -%>
    <article class="container">
      <header>
        <h2><a href="<%= url %>"><%= title %></a></h2>
        <time><%= date %></time>
      </header>
      <%- yield %>
    </article>
    <div class="row clearfix">
      <p class="fin"><i class="fa fa-code"></i></p>
    </div>
WTF IS THIS??  <% } else if (typeof title != 'undefined' && title !== null) { -%>
    <article class="container">
      <h2><%= title %></h2>
      <%- yield %>
    </article>
    <div class="row clearfix">
      <p class="fin"><i class="fa fa-code"></i></p>
    </div>
HANDLED  <% } else { -%>
      <%- yield %>
  <% } -%>
