{% extends "samhuri.net.html" %}

{% block body %}

<div class="container">
  <h1>{{ title }}</h1>
</div>

{% for year in years %}
  <div class="container">
    <h2 class="year"><a href="{{ year.path }}">{{ year.title }}</a></h2>

  {% for month in year.months %}
    <h3 class="month">
      <a href="{{ month.path }}">{{ month.name }}</a>
    </h3>

    <ul class="archive">
    {% for post in month.posts %}
      <li>
      {% if post.isLink %}
        <a href="{{ post.link }}">&rarr; {{ post.title }}</a>
      {% else %}
        <a href="{{ post.path }}">{{ post.title }}</a>
      {% endif %}
        <time>{{ post.day }} {{ month.abbreviation }}</time>
      {% if post.isLink %}
        <a class="permalink" href="{{ post.path }}">&infin;</a>
      {% endif %}
      </li>
    {% endfor %}
    </ul>

  {% endfor %}
  </div>
{% endfor %}

{% endblock %}
