{% extends "samhuri.net.html" %}

{% block body %}

<div class="container">
  <h1>{{ title }}</h1>

{% for month in months %}
  <h2 class="month">
    <a href="{{ month.path }}">{{ month.name }}</a>
  </h2>

  <ul class="archive">
  {% for post in month.posts %}
    <li>
    {% if post.isLink %}
      <a href="{{ post.link }}">&rarr; {{ post.title }}</a>
    {% else %}
      <a href="{{ post.path }}">{{ post.title }}</a>
    {% endif %}
      <time>{{ post.day }} {{ month.abbreviation }}</time>
    {% if post.isLink %}
      <a class="permalink" href="{{ post.path }}">&infin;</a>
    {% endif %}
    </li>
  {% endfor %}
  </ul>

{% endfor %}
</div>

{% endblock %}
