{% extends "samhuri.net.html" %}
{% block body %}
<article class="container project">
  <!-- projects.js picks up this data-title attribute and uses it to render all the Github stuff -->
  <h1 id="project" data-title="{{ project.title }}">{{ project.title }}</h1>
  <h4>{{ project.description }}</h4>

  <div class="project-stats">
    <p>
      <a href="https://github.com/samsonjs/{{ project.title }}">GitHub</a>
      &bull;
      <a id="nstar" href="https://github.com/samsonjs/{{ project.title }}/stargazers"></a>
      &bull;
      <a id="nfork" href="https://github.com/samsonjs/{{ project.title }}/network/members"></a>
    </p>

    <p>
      Last updated on <span id="updated"></span>
    </p>
  </div>

  <div class="project-info row clearfix">
    <div class="column half">
      <h3>Contributors</h3>
      <div id="contributors"></div>
    </div>

    <div class="column half">
      <h3>Languages</h3>
      <div id="langs"></div>
    </div>
  </div>
</article>
<div class="row clearfix">
  <p class="fin"><i class="fa fa-code"></i></p>
</div>

<script defer src="https://ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js"></script>
<script defer src="/js/gitter.js"></script>
<script defer src="/js/store.js"></script>
<script defer src="/js/projects.js"></script>
{% endblock %}
