<!doctype html>
<html lang="en">
<!-- meow -->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

  {% if title %}
  <title>{{ site.title }}: {{ title }}</title>
  {% elif page.title %}
  <title>{{ site.title }}: {{ page.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif %}

  <link rel="icon" type="image/png" href="/images/favicon-32x32.png">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#aa0000">
  <link rel="manifest" href="/images/manifest.json">
  <meta name="msapplication-config" content="/images/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link rel="author" type="text/plain" href="/humans.txt">
  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" title="{{ site.title }}">
  <link rel="alternate" type="application/json" href="{{ site.url }}/feed.json" title="{{ site.title }}">

  <link rel="dns-prefetch" href="https://use.typekit.net">
  <link rel="dns-prefetch" href="https://netdna.bootstrapcdn.com">
  <link rel="dns-prefetch" href="https://gist.github.com">
</head>

<body>
  <header class="primary">
    <div class="title">
      <h1><a href="/">{{ site.title }}</a></h1>
      <br>
      <h4>By <a href="/about">{{ site.author }}</a></h4>
    </div>

    <nav>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/posts">Archive</a></li>
        <li><a href="/projects">Projects</a></li>
        <li class="twitter"><a href="https://twitter.com/_sjs"><i class="fa fa-twitter"></i></a></li>
        <li class="github"><a href="https://github.com/samsonjs"><i class="fa fa-github"></i></a></li>
        <li class="email"><a href="mailto:sami@samhuri.net"><i class="fa fa-envelope"></i></a></li>
        <li class="rss"><a href="/feed.xml"><i class="fa fa-rss"></i></a></li>
      </ul>
    </nav>

    <div class="clearfix"></div>
  </header>

  {% block body %}{{ body }}{% endblock %}

  <footer class="container">
    &copy; 2006 - {{ currentYear }} <a href="/about">{{ site.author }}</a>
  </footer>

{% for style in styles %}
  <script type="text/javascript">
    (function() {
      var css = document.createElement('link');
      css.href = '{{ style }}';
      css.rel = 'stylesheet';
      css.type = 'text/css';
      document.getElementsByTagName('head')[0].appendChild(css);
    })();
  </script>
{% endfor %}

  <script type="text/javascript">
    (function() {
      var css = document.createElement('link');
      css.href = '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css';
      css.rel = 'stylesheet';
      css.type = 'text/css';
      document.getElementsByTagName('head')[0].appendChild(css);
    })();
  </script>

  <script src="https://use.typekit.net/tcm1whv.js" crossorigin="anonymous"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

{% for script in scripts %}
  <script defer src="{{ script }}"></script>
{% endfor %}
</body>
</html>
